@using SalonJCA2.Models;
@*

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int x = 0;
    List<Times> tm = ViewBag.times;

}

@model Bookings
<link href="~/css/CatelogueStyles.css" rel="stylesheet" />
<h3>BOOKING</h3>
<br />
<div class="row">
    <div class="col-5">
        <form asp-action="Add" asp-controller="bookings">
            <input asp-for="serviceid" hidden />
            <div class="form-group">
                <label for="exampleInputEmail1"><b>Date</b></label>
                <input type="date" class="form-control w-50 border-info " asp-for="Date" aria-describedby="emailHelp" placeholder="Name" required>
            </div>
            <br />

            <div class="form-group">
                <label for="exampleInputEmail1"><h4><u>Service</u></h4></label>
                <br />
                <div class="row">
                    <div class="col-4">
                        <p> <b>Name</b></p>
                    </div>
                    <div class="col">
                        @ViewBag.servicename
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-4">
                        <b>Price</b>
                    </div>
                    <div class="col">
                        @ViewBag.serviceprice
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-4">
                        <b>Service Type</b>
                    </div>
                    <div class="col">
                        @ViewBag.typename
                    </div>

                </div>


            </div>
            <br />

            <div class="form-group">
                <label for="exampleInputEmail1">Time</label>
                @Html.DropDownListFor(a => a.Time, new SelectList(ViewBag.times, "timeRang", "timeRang"), new { @class = "btn btn-default dropdown-toggle border-info" })
            </div>
            <br />

            @if (tm.Count > 0)
            {

                <button type="submit" class="btn btn-primary w-25">BOOK</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary w-50" disabled>Service Unavilable on @Model.Date.ToString("dd/MM/yy")</button>
            }

        </form>
    </div>
    <div class="col">
        <img src="~/images/booking.jpg" width="600" height="400" />
    </div>
</div>


<script>

    var urllink = "";
    $("#Date").change(function (id) {

        var url = "@Url.Action("DateChange", "Bookings")?id=" + $("#serviceid").val() + "&dt=" + $("#Date").val();
        window.location.href = url;

    });

    function foo(link) {

        urllink = link;

    }

</script>
